// For the sidenav menu: https://materializecss.com/sidenav.html
.backoffice {
  .main {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    .main {
      padding-left: 0;
    }
  }
}

.edit-box {

  border-bottom: solid 1.5px #ee6e73;

  .edition-card {
    .input-field {
      font-size: 10px;
    }
  }

}

img.categoryIcon {
  width: 24px;
  height: 24px;
}